.small-12.large-5.columns
  = image_tag "uf_barn_home.jpg", :class => "left"

.small-12.large-7.columns
  %p
    UNICORN FARM
    breeders of Cavalier King Charles Spaniels. 
    Located in the beautiful 
    rolling countryside of Fredericksburg, Virginia.