header {
	margin-bottom:10px;
	#logo {
		a {
			display:block;
			height:63px;
			color:#007d2b;
			background: asset-data-url('unicorn.png') no-repeat;
			float:left;
			font-weight:bold;
			font-size:44px;
			padding-left:70px;
			padding-top:12px;

		}
	}
	#logo-byline {
		clear:both;
		margin-left:72px;
	}
	nav {
		clear:both;
		.name {
			display:none;
		}
	}

}

.top-bar {
	margin-top:10px;
}

input[type="submit"] {
	height:50px;
}



/* Smartphones (portrait) Iphone ----------- */

@media only screen and (max-width : 940px) {
	#logo {
		display:none !important;
	}
	.name {
		display:block !important;
	}
}