@import "addons/button";
@import "css3/prefixer";

@import "css3/box-shadow";
@import "css3/linear-gradient";
@import "functions/linear-gradient";


header {
	margin-bottom:10px;
	#logo {
		a {
			display:block;
			height:63px;
			color:#007d2b;
			background: asset-data-url('unicorn.png') no-repeat;
			float:left;
			font-weight:bold;
			font-size:44px;
			padding-left:70px;
			padding-top:12px;

		}
	}
	#logo-byline {
		clear:both;
		margin-left:72px;
	}
	nav {
		clear:both;
		.name {
			display:none;
		}
	}

}

h3 {
	clear:both;
}

ul li {
	list-style-type:none;
}

label,
input {
	font-size:20px ;
	font-weight:bold;
	margin-bottom:10px;
}

input {font-size:18px !important;}

ul#steps {
	margin-bottom:40px;
	display:block;
}

ul#steps li {
	float:left;
	margin-right:10px;
	font-size:18px;
}


.top-bar {
	margin-top:10px;
}

input[type="submit"] {
	height:50px;
	@include button(shiny, green);
	font-size:20px;
}



// #datepicker {
// 	background:url('calendar.png') 5px 4px no-repeat;
// }

#content {
	border:1px solid black;
	float:left;
	width:100%;
	padding:20px;
	border-radius:5px;
}

#facebook_connect {
	background: url('facebook_connect.png') center center no-repeat;
	height:45px;
	display:block;
}

#appointment_time {
	font-size: 20px !important;
	-webkit-appearance: none;
	height:32px;
	padding-left:20px;
	margin-bottom:20px;
}


/* Smartphones (portrait) Iphone ----------- */

@media only screen and (max-width : 940px) {
	#logo {
		display:none !important;
	}
	.name {
		display:block !important;
	}
}