%header
  .row
    .small-12.large-5.columns
      #logo
        %a{:href => "/"} Unicorn Farm
        %div#logo-byline Breeders of Cavalier King Charles Spaniels
  .row
    .small-12.large-12.columns
      %nav.top-bar
        %ul.title-area
          / Title Area
          %li.name
            %h1
              %a{:href => "/under-construction"} Unicorn Farm
          / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
          %li.toggle-topbar.menu-icon
            %a{:href => "/under-construction"}
              %span Menu
        %section.top-bar-section
          / Left Nav Section
          %ul.left
            %li
              %a{:href => "/"} Home
            %li.divider
            %li.has-dropdown
              %a{:href => "/under-construction"} Breed Information
              %ul.dropdown
                %li
                  %a{:href => "/under-construction"} History
                %li
                  %a{:href => "/under-construction"} Photos
                %li
                  %a{:href => "/under-construction"} Awards
            %li.divider
            %li.has-dropdown
              %a{:href => "/under-construction"} Our Philosophy
              %ul.dropdown
                %li
                  %a{:href => "/diet"} Diet
                %li
                  %a{:href => "/under-construction"} Maintenance
                %li
                  %a{:href => "/under-construction"} Delivery
            %li.divider

          / Right Nav Section
          %ul
            %li.divider
            %li.has-dropdown
              %a{:href => "/under-construction"} About Us
              %ul.dropdown
                %li
                  %a{:href => "/under-construction"} Contact
                %li
                  %a{:href => "/under-construction"} Directions
            %li.divider
            %li
              %a{:href => new_appointment_path } Set Up An Appointment

            %li.divider
            %li.has-form.right
              %form
                .row.collapse
                  .small-8.columns
                    %input{:type => "text"}/
                  .small-4.columns
                    %a.alert.button{:href => "/under-construction"} Search
            %li.divider.show-for-small
