%header
  .row
    .small-12.large-5.columns
      #logo
        %a{:href => "/"} Unicorn Farm
        %div#logo-byline Breeders of Cavalier King Charles Spaniels
  .row
    .small-12.large-12.columns
      %nav.top-bar
        %ul.title-area
          / Title Area
          %li.name
            %h1
              %a{:href => "#"} Unicorn Farm
          / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span Menu
        %section.top-bar-section
          / Left Nav Section
          %ul.left
            %li
              %a{:href => "/"} Home
            %li.divider
            %li.has-dropdown
              %a{:href => "#"} Breed Information
              %ul.dropdown
                %li
                  %a{:href => ""} History
                %li
                  %a{:href => ""} Photos
                %li
                  %a{:href => ""} Awards
            %li.divider
            %li.has-dropdown
              %a{:href => "#"} Our Philosophy
              %ul.dropdown
                %li
                  %a{:href => "/pages/diet"} Diet
                %li
                  %a{:href => "#"} Maintenance
                %li
                  %a{:href => "#"} Delivery
            %li.divider

          / Right Nav Section
          %ul
            %li.divider
            %li.has-dropdown
              %a{:href => "#"} About Us
              %ul.dropdown
                %li
                  %a{:href => ""} Contact
                %li
                  %a{:href => ""} Directions
            %li.divider
            %li
              %a{:href => "#"} Set Up An Appointment

            %li.divider
            %li.has-form.right
              %form
                .row.collapse
                  .small-8.columns
                    %input{:type => "text"}/
                  .small-4.columns
                    %a.alert.button{:href => "#"} Search
            %li.divider.show-for-small
